<div>
    <h1>Employee Details:</h1>
    <button routerLink="/addEmployee">Add Employee</button>
</div>
<table class="content-table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Devices</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button  class="bt1">Edit</button><a
            class="bt2"><img src="https://www.svgrepo.com/show/21045/delete-button.svg" alt=""></a><button  class="bt1">AddDevices</button></td>
        </tr>
    </tbody>
</table>








