<div class="background">
    <div class="form">
        <h1>Login</h1>
        <hr>
        <form>
            <div class="input">
                <div><input type="text" placeholder="UserName"><img
                        src="https://t3.ftcdn.net/jpg/05/14/18/46/360_F_514184651_W5rVCabKKRH6H3mVb62jYWfuXio8c8si.jpg"
                        alt=""></div>
                <div><input type="password" placeholder="password"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsGJrcCZqPdoOOlzPoW8Qh1Pf6NRL1ykKElg&usqp=CAU"
                        alt=""></div>
            </div>
        </form>
        <div class="password"><a href="">Forget password</a></div>
        <div class="checkbox"><input type="checkbox"> Remember me
            <button>Login</button>
        </div>
    </div>
</div>