.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: rgb(78, 103, 162);
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.bt1 {
    color: gray;
    border-radius: 5px;
    margin-right: 5px;
}

.bt1:hover {
    color: white;
    background-color: rgb(58, 193, 58);
}

.bt2 {
    color: gray;
    border-radius: 5px;
}

.bt2:hover {
    color: white;
    cursor: pointer;
}

div h1 {
    display: inline-block;
    font-size: 35px;
    margin-top: 40px;
    color: gray;
}

div button {
    float: right;
    margin-top: 45px;
    border-radius: 5px;
}

div button:hover {
    color: white;
    background-color: rgb(58, 193, 58);
}

* {
    font-family: sans-serif;
    /* Change your font family */
}

a img {
    width: 20px;
    height: 20px;
}

