<div>
    <h1>Device Details:</h1>
    <button routerLink="/addEmployee">Add Devices</button>
</div>
<table class="content-table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Device Type</th>
            <th>OS</th>
            <th>Service Tag</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="bt1">Edit</button><a class="bt2"><img
                        src="https://www.svgrepo.com/show/21045/delete-button.svg" alt=""></a></td>
        </tr>
    </tbody>
</table>